.item-detail{
    height: 100%;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
}
.foto-detalle{
    display: flex;
    flex-direction: row-reverse;
    height: 55%;
    width: 100%;
}
.foto-detalle ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    list-style: none;
    margin: 0;
    font-size: 30px;
}
.foto-detalle ul li{
    margin-top: 10px;
    margin-bottom: 5px;
}

.imagen{
    height: 100%;
    width: 35%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.detalle-descripcion{
    height: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detalle-descripcion p{
    margin: 0;
    font-size: 20px;
}

.cantidad-selector{
 width: 100%;
 height: 15%;
}

.fin-compra{
    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #cf5351;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}