.item-detail{
    height: 100%;
    width: 100%;
    flex: 0 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    flex-direction: row;
}
.item-detail ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100%;
    list-style: none;
    margin: 0;
    font-size: 30px;
}

.item-detail .imagen{
    height: 100%;
    width: 35%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
