.item-detail-container{
    height: 160px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    background-color: #e79696;
    list-style: none;
}