.carrito{
    width: 100%;
    min-height: calc(100vh - 70px);
    background-color: #cf5351;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    transition: all .3s;
}

.vaciar{
    position: absolute;
    background-color: aliceblue;
    right: 50px;
    top: 150px;
    height: 30px;
    width: 140px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.producto-en-carrito{
    height: 200px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    margin-bottom: 15px;
}

.producto-en-carrito .imagen{
    height: 100%;
    width: 20%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.producto-en-carrito .info{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detalle-compra{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.precio-total{
    height: 30px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #cf5351;
    color: black;
}

.info-comprador{
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, .8);
    height: 100%;
    width: 100%;
    padding-top: 70px;
    justify-content: center;
    align-items: center;
}

.info-comprador form{
    height: 500px;
    border-radius: 10px;
    width: 50%;
    background-color: #fffffe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.info-comprador form h2{
    font-size: 20px;
    
}

.botones-comprador{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.botones-comprador div, .botones-comprador button{
    height: 30px;
    border-radius: 5px;
    width: 100px;
    background-color: #cf5351;
    color: #fffffe;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.botones-comprador div:hover, .botones-comprador button:hover{
    background-color: #de7271;
    cursor: pointer;
}

.orden-compra{
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, .8);
    height: 100%;
    width: 100%;
    padding-top: 70px;
    justify-content: center;
    align-items: center;
}

.orden-compra-info{
    height: 500px;
    border-radius: 10px;
    width: 50%;
    background-color: #fffffe;
    display: flex;
    flex-direction: column;
}

.info{
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.info-usser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 25px;
    align-self: flex-start;
    height: 85px;
}

.info-usser h2{
    margin: 0;
    font-size: 15px;
}

.info-compra{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    margin-top: 25px;
    height: 320px;
}

.info-articulos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.info-total{
    margin-bottom: 25px;
    border-bottom: 2px solid black;
}

.botones-fin{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.finalizar-compra, .cancelar-compra{
    height: 30px;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cancelar-compra{
    color: black;
}

.finalizar-compra{
    color: #cf5351;
    border: 2px solid #cf5351;
    padding: 10px;
    border-radius: 10px;
}

.finalizar-compra:hover{
    background-color: #cf5351;
    color: #fffffe;
}