.item{
    height: 300px;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    flex: 0 0 auto;
    position: relative;
}

.foto{
    height: 70%;
    width: 100%;
    background-color: #fffffe;
    z-index: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.detalles{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #3a3531;
    z-index: 3;
    font-weight: 700;
}

.precio, .titulo{
    height: 40%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.numero{
    height: 20%;
    font-size: 15px;
    text-align: center;
}

.mas-detalles{
    height: 70%;
    width: 100%;
    background-color: rgb(255, 255, 254, 0.6);
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 2;
    transition: all.2s;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:hover .mas-detalles{
    opacity: 1;
}

.mas-detalles .ver-detalles{
    text-align: center;
    text-decoration: none;
    height: 45px;
    width: 90px;
    border-radius: 8px;
    background: linear-gradient(to right, #bc3a0f, #b31c1a);
    position: absolute;
    line-height: 45px;
    color: #fffffe;
}