.contador{
    height: 20%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 50%;
}

.suma, .resta, .total, .agregar{
    border: solid 1px #e79696;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7d2c2c;
    transition: all .1s;
    background-color: rgb(255, 240, 240);
    font-size: 15px;
    
}

.suma:hover, .resta:hover, .agregar:hover{
    cursor: pointer;
}

.suma:active, .resta:active, .agregar:active{
    background-color: #e79696;
}

.suma{
    grid-column: 3/4;
    grid-row: 1/2;
    border-bottom: none;
    
}

.resta{
    grid-column: 1/2;
    grid-row: 1/2;
    border-bottom: none;
}

.total{
    border-left: none;
    border-bottom: none;
    border-right: none;
    grid-column: 2/3;
    grid-row: 1/2;
}

.agregar{
    grid-column: 1/4;
    grid-row: 2/3;
}